.ourServices-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.services {
    max-width: 1000px;
    margin: 0 auto;
}

.services > div > p {
    font-size: 20px;
    line-height: 130%;
    color: #FFFFFF;
}

.services > div {
    max-width: inherit;
    width: 100%;
}
.services__wrap {
      display: grid;
    grid-template-columns: repeat(4, 1fr);
     width: 100%;
    height: 100%;
    align-items: center;
    max-width: 1000px;
    grid-gap: 120px;
    margin: 0 auto;
}

.services__wrap > div > p {
    font-size: 20px;
    line-height: 130%;
    color: #FFFFFF;
}

.ourServices-header {
    /*position: absolute;*/
    display: flex;
    align-items: center;
    z-index: 1;
    margin-bottom: 35px;
    left: 18.6%;
    top: 18.6%;
}

.container-wrapper {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    padding-top:93px;
    padding-bottom: 153px;
}
.myContainer{
    max-width: 1180px;
}
.ourServices {
    position: relative;
    background: url("../../../src/img/OurServices/back.jpg");
}

.ourServices-header:before {
    content: '';
    border: 5px solid #C9D1D9;
    width: 80px;
}


.ourServices-header > p {
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 15px;
}