.sectionAge {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1620px;
}

.sectionProject-id:before {
    content: '';
    border: 5px solid #C9D1D9;
    width: 80px;
    left: -95px;
    bottom: 6px;
    height: 0;
}

.sectionProject-id > p {
    font-size: 24px;
    line-height: 100%;
    text-transform: uppercase;
    color: #535A60;
    opacity: 0.7;
    padding-left: 15px;
}

.projects-container {
    display: flex;
    justify-content: space-between;
}

.scroll {
    position: relative;
    display: block;
}