.firstSlider-pagination {
    display: grid;
    /* width: 500px; */
    grid-template-columns: 140px 140px 140px;
    grid-gap: 25px;
    width: auto;
    position: absolute;
    bottom: -1px;
    right: 0;
    background: #FFFFFF;
    padding: 25px 25px 34px 25px;
    z-index:1;
}

.mainSlider {
    position: relative;
}

.firstSlider {
    top: -110px;
    position: relative;
}

.showSlid {
    display: block !important;
    display: block !important;
    transition: 2.3s;
    transform: translate(-10000px);
}

.hideSlid {
    display: none !important;
}

.sliderText {
    font-weight: bold;
    font-size: 30px;
    line-height: 170%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #535A60;
    position: absolute;
    width: 40%;
    height: max-content;
    top: 37%;
    left: 3.65%;
}

.contactsSlid {
    transform: rotate(-90deg);
    position: absolute;
    right: -5%;
    top: 50%;
}

.contactsSlid a:first-child {
    padding-right: 30px;
}

.contactsSlid a {
    font-size: 18px;
    line-height: 150%;
    color: #454A4F;
}

.linkToProject {
    position: absolute;
    bottom: 0;
    left: 27.5%;
    margin-bottom: 42px;
}

.linkToProject > a {
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #535A60;
    display: flex;
    align-items: center;

}
.strelka{
    width: 70px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-left: 25px;
}
.strelka span {
    border: 1px solid #535A60;
    box-sizing: border-box;
    width: 70px;
}

.strelka span:first-child {
    width: 18px;
    height: 1px;
    transform: rotate(-152deg);
    margin-top: -5px;
    position: absolute;
}

.strelka span:last-child {
    width: 18px;
    height: 1px;
    transform: rotate(152deg);
    margin-top: 5px;
    position: absolute;
}

@media (max-width: 1440px) {
    .sliderText{
        font-size: 26px;
        line-height: 170%;

        width: 40.9%;
    }
    .firstSlider-pagination{
        padding: 25px 25px 25px 25px;
    }
}

@media (max-width: 1024px) {
    .sliderText{
        font-size: 18px;
        line-height: 160%;
        letter-spacing: -0.07em;
        width: 27%;
    }
    .firstSlider-pagination{
        display: grid;
        grid-template-columns: 106px 106px 106px;
        grid-gap: 20px;
        width: auto;
        position: absolute;
        bottom: -1px;
        right: 0;
        background: #FFFFFF;
        padding: 16px 25px 23px 17px;
        z-index:1;
    }
}